Repository Dart-Code/Dart-Code, pull requests merged in 2020-07, with the labels that each got.

#2599 Fix debugger initialisation race
  src/debug/dart_debug_impl.ts
  src/debug/flutter_debug_impl.ts
Labels: in debugger, in flutter, is bug fix

#2610 Support overriding the base Flutter script without each individual command
  src/debug/flutter_debug_impl.ts
  src/debug/flutter_run.ts
  src/debug/flutter_test_debug_impl.ts
  src/debug/utils.ts
  src/extension/commands/sdk.ts
  src/extension/flutter/flutter_daemon.ts
  src/extension/providers/debug_config_provider.ts
  src/extension/pub/global.ts
  src/extension/sdk/dev_tools/manager.ts
  src/shared/interfaces.ts
  src/shared/utils.ts
  src/shared/utils/workspace.ts
  src/test/flutter_bazel/extension.test.ts
Labels: is non-functional

#2615 Only read first color per line
  src/shared/vscode/color_range_computer.ts
  src/test/flutter/decorations/flutter_colors.test.ts
Labels: in editor, in flutter, is bug fix

#2637 Add an option to set the Dart Debug extension backend protocol
  package.json
  src/debug/flutter_debug_impl.ts
  src/debug/utils.ts
  src/extension/config.ts
  src/extension/providers/debug_config_provider.ts
  src/shared/capabilities/flutter.ts
Labels: in debugger, in flutter, is enhancement

#2661 Prompt for DevTools page / open in browser when running openDevTools
  src/extension/commands/debug.ts
  src/extension/sdk/dev_tools/manager.ts
  src/shared/constants.ts
Labels: in commands, is enhancement

#2684 Show full untruncated messages from dart:developer log()
  src/debug/dart_debug_impl.ts
  src/test/dart_debug/debug/dart_cli.test.ts
  src/test/flutter_debug/debug/flutter_run.test.ts
  src/test/test_projects/bazel_workspace/flutter_hello_world_bazel/lib/main.dart
  src/test/test_projects/flutter_hello_world/lib/main.dart
  src/test/test_projects/hello_world/bin/main.dart
Labels: in debugger, is enhancement
