Repository Dart-Code/Dart-Code, pull requests merged in 2021-11, with the labels that each got.

#3650 Add icons to device labels
  src/shared/vscode/device_manager.ts
  src/test/flutter/device_manager.test.ts
Labels: is enhancement, in flutter

#3649 Subscribe to navigation events on open files
  src/extension/analysis/file_tracker_das.ts
  src/extension/extension.ts
  src/extension/providers/dart_reference_provider.ts
Labels: is enhancement, in editor

#3664 Remove workspaceConfig from DA, simplifying use of custom tools
  src/debug/flutter_debug_impl.ts
  src/debug/flutter_run.ts
  src/debug/flutter_test_debug_impl.ts
  src/extension/commands/flutter.ts
  src/extension/flutter/flutter_daemon.ts
  src/extension/providers/debug_config_provider.ts
  src/shared/debug/interfaces.ts
  src/shared/interfaces.ts
  src/shared/utils.ts
  src/shared/utils/workspace.ts
  src/test/flutter_bazel/extension.test.ts
  src/test/flutter_snap/extension.test.ts
Labels: is non-functional

#3683 Add support for path/git dependencies via the Add Dependency command
  src/extension/commands/add_dependency.ts
Labels: is enhancement, in commands

#3684 Support adding Path and Git dependencies through the Add Dependency command
  src/extension/commands/add_dependency.ts
  src/test/dart/pub/add.test.ts
Labels: is enhancement, in commands
